            {
                margin: 0;
                padding: 0;

            }

            body {
                background-color: aliceblue;
                font-family: sans-serif;

            }


            .content {
                grid-area: content;
            }

            .sidebar{
                grid-area: PANTAI PANGANDARAN;
                background: linear-gradient(to right, rgba(200,107,142,1), rgba(218, 105,250,1), rgba(110,125,253,1)) ;
                justify-content: center;

            }
            .footer {
                grid-area: footer;
                background: white;
            }
            .container {
                font-size: 1.5em;
                width: 100%;
                height: 100;
                height: 100vh;
                display: grid;
                grid-template-areas: "Pantai" "content" "footer";
                grid-template-columns: 1fr;
                grid-template-rows:  130px 800px 250px;

            }

            .content, .footer{
                padding: 1em;

            }

            nav ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                text-align: center;

            }
